:root {
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --primary-background-color: #2f303a;
  --secondary-background-color: #f5f4fa;
  --black-color: #000000;
  --secondary-accent-color: #188ce8;
  --black-font-weight: 900;
  --bold-font-weight: 700;
  --regular-font-weight: 400;
  --medium-font-weight: 500;
  --primery-letter-spacing: 0.03em;
}

a {
  text-decoration: none;
}

button {
  font-family: inherit;
}

ul {
  list-style-type: none;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

body {
  margin: 0;
  background-color: var(--primary-white-color);
  font-family: 'Roboto', sans-serif;
  font-weight: var(--bold-font-weight);
  letter-spacing: var(--primery-letter-spacing);
  line-height: 1.39;
  color: var(--black-color);
  display: block;
}
 h1,
 h2,
 h3,
 h4,
 h5,
 h6,
 p {
   margin: 0;
 }

/* логотип */
.logo-item-blue {
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  line-height: 1.2;
  color: var(--accent-color);
  }

.logo-item-studio {
  color: var(--black-color);
  font-size: 26px;
  line-height: 1.2;
  }

  .logo-link {
    margin-right: 93px;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 25px;
    letter-spacing: 0.03em;
    line-height: 1.2;
  }

/*==================== Навігація==================== */

.header {
  border-bottom: 1px solid #ececec;
}


.header .container {
  display: flex;
  align-items: center;
}

ul, ol {
    margin: 0;
    padding: 0;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation-link:hover,
.navigation-link:focus {
  color: var(--accent-color);
}
.navigation-list-item:not(:last-child),
.contacts-list-item:not(:last-child) {
  margin-right: 50px;
}

.navigation-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.navigation-list {
  display: flex;
}

.navigation-list li {
  margin-right: 50px;
}

.navigation-link {
  font-weight: var(--medium-font-weight);
  font-size: 14px;
  line-height: 1.38;
  color: var(--black-color);
}

.navigation-link-studio {
  color: var(--accent-color);
  font-weight: var(--medium-font-weight);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.navigation-link-portfolio {
  color: var(--accent-color);
  font-weight: var(--medium-font-weight);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}


.navigation-link-adress:hover,
.navigation-link-adress:focus {
  color: var(--accent-color);
}

.navigation-contact {
display: flex;
align-items: center;
margin-left: auto;

}



.navigation-link-adress {
  font-weight: var(--medium-font-weight);
  color: var(--primary-text-color);
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}



/* ============Портфоліо Секція button============ */
.button-title:hover,
.button-title:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}

.button-title {
  background-color: var(--secondary-background-color);
  border-radius: 4px;
  font-size: 14px;
  line-height: 1.62;
}
/* ======Портфоліо закінчення секції button====== */

/* < !-- Портфоліо Секція зі зразками роботи в картинках --> */
.my-work-title {
  color: var(--secondary-text-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
/* < !--  Студія Чим займаються та 3 картинки --> */
.about-title {
  color: var(--secondary-text-color);
  font-weight: var(--bold-font-weight);
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
  text-align: center;

}
/* <!-- Портфоліо Секція зі зразками роботи в картинках --> */
.my-work-text {
  color: var(--primary-text-color);
  font-weight: var(--regular-font-weight);
  font-size: 16px;
  line-height: 1.87;
}

/* footer */
.footer {
  background-color: var(--primary-background-color);
  width: 1600px;
  height: 252px;
  left: 0px;
  top: 2097px;
}

.footer .logo-item-studio {
  color: var(--primary-white-color);
}

.map-link {
  font-weight: var(--regular-font-weight);
  font-size: 14px;
  line-height: 1.7;
  font-style: normal;
  color: var(--primary-white-color);
}

.footer-contacts-link:hover,
.footer-contacts-link:focus {
  color: var(--secondary-accent-color);
}

.map-link:hover,
.map-link:focus {
  color: var(--secondary-accent-color);
}

.footer-contacts-link {
  color: rgba(255, 255, 255, 0.6);
  font-weight: var(--regular-font-weight);
  font-size: 14px;
  line-height: 1.71;
}

.hero-title {
  font-weight: var(--black-font-weight);
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.hero {
  width: 1600px;
  height: 600px;
  left: 0px;
  top: 80px;
  background: var(--primary-background-color);
}

.hero-button {
  font-weight: var(--bold-font-weight);
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.future-title {
  font-weight: var(--bold-font-weight);
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}

.features-title {
  font-size: 14px;
  line-height: 1.17;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}

.features-text {
  font-size: 14px;
  line-height: 1.17;
  font-weight: var(--regular-font-weight);
  color: var(--primary-text-color);
}

.team-fore-person {
  background-color: var(--secondary-background-color);
}

.team-list-profession {
  color: var(--primary-text-color);
  font-weight: var(--regular-font-weight);
  font-size: 16px;
  line-height: 1.17;
  text-align: center;
}

.team-title {
  color: var(--secondary-text-color);
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.team-title {
  color: var(--secondary-text-color);
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.team-list-name {
  color: var(--secondary-text-color);
  font-weight: var(--medium-font-weight);
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
